<!-- !! Ska egentligen var separerat i komponenter, men palla i testerna -->
<div class="text-center py-5 bg-teal-700">
  <h1 class="text-5xl font-bold italic text-white">Hello Tailwind!</h1>
</div>

<!-- * Leksuga för Tailwind -->
<div class="m-5">
  <div class="flex w-96 mx-auto my-0 justify-between items-center">
    <h3 class="text-2xl text-teal-700 italic font-bold">Test One</h3>
    <div>
      <!-- TODO: Lära mig configurera en "css component i tailwind" för dessa skit-knapar -->
      <button class="bg-teal-600 text-white px-2 py-1 m-1">Edit</button>
      <button class="bg-teal-700 text-white px-2 py-1 m-1">Delete</button>
    </div>
  </div>
</div>

<hr />

<!-- * Palla göra en loop, lmfao -->
<div class="m-5">
  <div class="flex w-96 mx-auto my-0 justify-between items-center">
    <h3 class="text-2xl text-teal-700 italic font-bold">Test Two</h3>
    <div>
      <button class="bg-teal-600 text-white px-2 py-1 m-1">Edit</button>
      <button class="bg-teal-700 text-white px-2 py-1 m-1">Delete</button>
    </div>
  </div>
</div>

<hr />
